

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

html,body{
    font-family: "Raleway", "arial Helvetica sans-serif";
    
}
body{
    height:100%;
    width:100%;
    margin:0;
    display:flex;
    flex-direction: column;
}
header,nav{
    margin-right: 2%;
    margin-left:1%;
    width:99%
}

*{
    box-sizing: border-box;
    font-family: "Raleway", "sans-serif";
}

:root{
    --bleu:#0065fc;
    --lightgrey:#f2f2f2;
    --lightblue:#deebff;
}
a {
    color:inherit;
    text-decoration: none;
}



/*nav*/
/*********** NAV-BAR ***************************/
nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

nav a{
    padding: 32px;
    border-top: 3px solid transparent;
}

.navlink{
    color: #0065fc;
    font-weight: bold;
}

.signup{
    color: var(--bleu);
    font-weight: bold;
}

#logo{
    margin-top:8px;  
    margin-right: auto;
    padding: 0 7px;
    height: 45px;
}

nav a:hover{
    border-top-color: #0065fc;
}

.sub-nav{
    display: flex;
}

.sub-nav :hover{
    color: #0065fc;
}


/***************HEADER*************************/

/************* BODY ************************/

.wrapper{
    padding: 0 32px;
}

/*************** SEARCHBAR ****************/

.wrapper h1,
.wrapper p{
    margin-bottom:12px;
}

.search-button{
    display: flex;
    align-items: center;
   
}

.search-button > *{
    padding: 16px 19px;
}
.search-button i {
    background-color: var(--lightgrey);
    border-radius: 16px 0 0 16px;
}

.search-button input{
    padding-right:48px;
    border:0.5px solid var(--lightgrey);
    overflow: auto;
}

.search-button input::placeholder{
    font-weight: bold;
    color: inherit;
    font-size: 16px;
}

.search-button button{
    background-color: var(--bleu);
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 0 16px 16px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    transition: transform 150ms;
}

.search-button button:hover{
    opacity: 1;
    transform: scale(1.02);
}
.fas.fa-search{
    display: none;
}



/*************** FILTERS ****************/

.filters-list{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 32px;
    flex-wrap: wrap;
}

.filters{
    border: 2px solid var(--lightgrey);
    border-radius: 32px;
    display: flex;
    align-items: center;
}

.fas.fa-money-bill-wave{
    color: var(--bleu);
    background-color: var(--lightblue);
    width: 48px;
    height:48px;
    border-radius: 50%;
    margin: -3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fas.fa-child{
    color: var(--bleu);
    background-color: var(--lightblue);
    width: 48px;
    height:48px;
    border-radius: 50%;
    margin: -3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fas.fa-heart{
    color: var(--bleu);
    background-color: var(--lightblue);
    width: 48px;
    height:48px;
    border-radius: 50%;
    margin: -3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fas.fa-dog{
    color: var(--bleu);
    background-color: var(--lightblue);
    width: 48px;
    height:48px;
    border-radius: 50%;
    margin: -3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filters span{
    font-weight: bold;
    padding: 0 16px;
    cursor: pointer;
    transition-duration: 200ms;
      
}

.filters:hover{
    background-color:var(--lightblue);
    transform: scale(1.02);
}

/************** SEARCH-RESULT************** */
.search-result{
    display: flex;
    align-items: center;
    gap:16px;   
}

.fas.fa-info{
    border: 2px solid var(--lightgrey);
    border-radius: 50%;
    color:var(--bleu);
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
       
}

/**********************SECTION HEBERGEMENTS************************/

#Hebergements{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.gdblochebergements{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 2;
    margin-right: 20px; 
    height: 750px;
    border-radius: 10px; 
    background-color:rgb(226, 224, 224);
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    
}

.ancrehebergements h2{
    font-size: 25px;
}


.blochebergements{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

}
.carreshebergements{
    width: 30%;
    height: auto;
    background-color: white;
    /* rajout propriété pour la version mobile et desktop */
    box-shadow: 0 0 16px #0000002e;
    padding: 1%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blochebergements :hover{
    transform: scale(1.05);
    cursor: pointer;
}

.carreshebergements2{
    width: 90%;
}
.imghébergements{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

/****************ICONES ETOILES*******************/
.blue{
    color: #0065fc;
    
}

.grey{
    color: #f2f2f2;
}
/****************LES PLUS POPULAIRES*************/

.populaires{
    display:flex;
    flex-direction: column;
    flex:1;
    height: 754px;
    margin-left: 20px;
    background-color: rgb(226, 224, 224);
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.textepopulaires{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:10px;
    margin-bottom: 6%;
}

.textepopulaires h4{
    font-size: x-large;
    margin-top: 16px;
}

.blocImgpopulaires{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.carréspopulaires{
    background-color: white;
    height: auto;
    padding: 1% 0 1% 1%;
    border-radius: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blocImpopulaires :hover{
    transform: scale(1.02);
    cursor: pointer;
}

.carrés2populaires{
    width: 60%;
    padding-left: 5%;
}
.imgpopulaires{
    width: 40%;
    height: 160px;
    object-fit: cover;
    border-radius: 15px 0 0 15px ;
}

/******************ACTIVITES A MARSEILLE***********************/

.BlocsImgActivités{
    display: flex;
    flex-direction: row;
    width: 100%
}

.blocpetitImg{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

#Activités h4{ 
        font-size: x-large
}

#Activités h5{
    margin-left: 3%;
    font-weight: bold;
    font-size: large;
}

/************carreImgactivites************/
.carreImgactivites{
    box-shadow: 0 0 16px #0000002e;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    margin-bottom: 85px;
    transition-duration: 0.2s;
    width: 100%;
}


.carreImgactivites2{
    box-shadow: 0 0 16px #0000002e;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
     width: 17%;
    margin-bottom: 61px;
    transition-duration: 0.2s;
    width: 386px;
}

.carreImgactivites3{
    box-shadow: 0 0 16px #0000002e;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    width: 17%;
    margin-bottom: 56px;
    transition-duration: 0.2s;
    width: 386px;
}


.carreImgactivites4{
    box-shadow: 0 0 16px #0000002e;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    width: 17%;
    margin-bottom: 56px;
    transition-duration: 0.2s;
    width: 386px;
}

.carreImgactivites :hover{
    transform: scale(1.02);
    cursor: pointer;
}

.carreImgactivites2 :hover{
    transform: scale(1.02);
    cursor: pointer;
}

.carreImgactivites3 :hover{
    transform: scale(1.02);
    cursor: pointer;
}

.carreImgactivites4 :hover{
    transform: scale(1.02);
    cursor: pointer;
}

/*************DIMENSIONS IMAGES ACTIVITES***************/

.grandeimage{
    border-radius: 16px 16px 0 0;
    height: 480px;
    object-fit: cover;
    width: 100%;
    height:84%;
}

.moyimage{
    border-radius: 16px 16px 0 0;
    height: 192px;
    object-fit: cover;
    width: 100%;
}

.moyimage2{
    border-radius: 16px 16px 0 0;;
        height: 160px;
  object-fit: cover;
    width: 100%;
}

.petiteimage{
    border-radius: 16px 16px 0 0;
    height: 176px;
    object-fit: cover;
    width: 100%;
}
    

/***********************FOOTER***********************/
footer{
    display: flex;
    width: 100%;
    margin: 0;
    background-color: #f2f2f2;   
    align-items:flex-start;
    font-size: 20px;
    padding: 20px 0 100px;
     justify-content:left; 
    margin-top:30px;
}
.bloc{
    width: 15%;
    margin: 0 25px;
}

.blocfooter{
    margin-right: 13%;
    margin-left: 3%;
}

.blocfooter h4
{
    font-size:25px;
    padding-bottom: 20px;

}

.listefooter{
    list-style-type:none;
}

.nolist {
    list-style-type:none;
    padding:5px 0;
}

.colorlien{
    color:black;
}

/************** responsive mobile et TABLETTE*****************/


@media screen and (max-width:600px){
    .sub-nav {
        order: 2;
        width: 100%;
        flex-wrap: wrap;
        margin-top: 10px;
        align-items: center;
    }

    .signup{
        order: 1;
        width: auto;
        margin: auto;
    }
}
@media screen and (max-width:992px){

    /* responsive header */
    .header{
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    }

    /* responsive navbar */

    .sub-nav a{
        flex-basis: 50%;
        text-align:center;
    }
        
    .sub-nav a:hover{
        border-top-color:transparent;
        border-bottom:4px solid #0065fc
    }

    

    .fas.fa-search{
        background-color: inherit;
        display: inline;
    }   

    .search-button .search-text{
        display: none;
    }

    .wrapper{
        margin-top: 22px;
        padding: 0;
    }
    /* responsive mobile les plus populaires */
   .populaires{
    order: 1;
    flex: none;
    width: 90%;
   }
   /* responsive mobile Hebergements a Marseille */

   #Hebergements{
    flex-direction: column;
    width: 100%;
}

.gdblochebergements{
    order:2;
    margin-top: 40px;
    flex: none;
    width: 100%;
    margin-left: auto;
}

.populaires{
    order:1;
    width: 100%;
    margin-left: auto;
    border-radius: 0;
}

.textepopulaires{
    margin-bottom: 1%;
}

   .gdblochebergements{
       height: auto;
       background-color: transparent;
      
}

   .blochebergements{
       flex-direction: column;
       margin-bottom:0;
       
   }

     .carreshebergements{
       width: 100%;
       margin-bottom: 20px;
   }
    /* responsive mobile Activites a Marseille */

   .BlocsImgActivités{
       flex-direction: column;
       height: auto;
   }

   .BlocsImgActivités div{
       width: 100%;
    }

    .carreImgactivites{
        margin-bottom: 50px;
        
       
    }

    .carreImgactivites2{
        margin-bottom: 50px;
        height: auto;
        
    }

    .carreImgactivites3{
        margin-bottom: 50px;
        height: auto;
        
    }

    .carreImgactivites4{
        margin-bottom: 50px;
        height: auto;
        
    }

    .carreImgactivites{
        height: 276px;
       
    }

    .carreImgactivites img{
        height: 76%;
    }
    .carreImgactivites234{
        height: 150px;
    }
  
     /* responsive mobile footer */
    footer{
        flex-direction: column;
    }

}

   

/* RESPONSIVE ORDINATEUR */

