/*général*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

html,body{
    font-family: raleway;
    
}
body{
    height:100%;
    width:100%;
    margin:0;
    display:flex;
    flex-direction: column;
}
header,nav,main{
    margin-right: 2%;
    margin-left:2%;
    width:96%
}

*{
    box-sizing: border-box;
    font-family: "Raleway", "sans-serif";
}

:root{
    --bleu:#0065fc;
    --lightgrey:#f2f2f2;
    --lightblue:#deebff;
}
a {
    color:inherit;
    text-decoration: none;
}

.hosting{
    color: #0065fc;
    font-weight: bold;
}

.hosting2{
    color: var(--bleu);
    font-weight: bold;
}

#logo{
    margin-top:8px;  
    margin-right: auto;
    padding: 0 32px;
    height: 45px;
}

/*nav*/
/*********** NAV-BAR ***************************/
nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

nav a{
    padding: 32px;
    border-top: 3px solid transparent;
}

nav a:hover{
    border-top-color: #0065fc;
}

.sub-nav{
    display: flex;
}

.sub-nav :hover{
    color: #0065fc;
}


/*header*/

/************* BODY ***********************************/

.wrapper{
    padding: 0 32px;
}

/* SEARCHBAR */

.wrapper h1,
.wrapper p{
    margin-bottom:12px;
}

.search-button{
    display: flex;
    align-items: center;
   
}

.search-button > *{
    padding: 16px 19px;
}
.search-button i {
    background-color: var(--lightgrey);
    border-radius: 16px 0 0 16px;
}

.search-button input{
    padding-right:48px;
    border:0.5px solid var(--lightgrey);
    overflow: auto;
}

.search-button input::placeholder{
    font-weight: bold;
    color: inherit;
    font-size: 16px;
}

.search-button button{
    background-color: var(--bleu);
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 0 16px 16px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    transition: transform 150ms;
}

.search-button button:hover{
    opacity: 1;
    transform: scale(1.02);
}
.fas.fa-search{
    display: none;
}



/*************** FILTERS ****************/

.filters-list{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 32px;
    flex-wrap: wrap;
}

.filters{
    border: 2px solid var(--lightgrey);
    border-radius: 32px;
    display: flex;
    align-items: center;
}

.fas.fa-money-bill-wave{
    color: var(--bleu);
    background-color: var(--lightblue);
    width: 48px;
    height:48px;
    border-radius: 50%;
    margin: -3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fas.fa-child{
    color: var(--bleu);
    background-color: var(--lightblue);
    width: 48px;
    height:48px;
    border-radius: 50%;
    margin: -3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fas.fa-heart{
    color: var(--bleu);
    background-color: var(--lightblue);
    width: 48px;
    height:48px;
    border-radius: 50%;
    margin: -3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fas.fa-dog{
    color: var(--bleu);
    background-color: var(--lightblue);
    width: 48px;
    height:48px;
    border-radius: 50%;
    margin: -3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filters span{
    font-weight: bold;
    padding: 0 16px;
    cursor: pointer;
    transition-duration: 200ms;
      
}

.filters:hover{
    background-color:var(--lightblue);
    transform: scale(1.02);
}

/************** SEARCH-RESULT************** */
.search-result{
    display: flex;
    align-items: center;
    gap:16px;   
}

.fas.fa-info{
    border: 2px solid var(--lightgrey);
    border-radius: 50%;
    color:var(--bleu);
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
       
}


/*section hébergements*/

#Hebergements{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.gdblochebergements{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 2;
    margin-right: 20px; 
    height: 750px;
    border-radius: 10px; 
    background-color:rgb(226, 224, 224);
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    
}
.blochebergements{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

}
.carreshebergements{
    width: 30%;
    height: auto;
    background-color: white;
    padding: 1%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blochebergements :hover{
    transform: scale(1.1);
    cursor: pointer;
}

.carreshebergements2{
    width: 90%;
}
.imghébergements{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

/*icônes étoiles*/
.blue{
    color: #0065fc;
    
}

.grey{
    color: #f2f2f2;
}
/*populaires*/

.populaires{
    flex:1;
    height: 754px;
    margin-left: 20px;
    background-color: rgb(226, 224, 224);
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.textepopulaires{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:10px;
    margin-bottom: 12%;
}

.blocImgpopulaires{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.carréspopulaires{
    background-color: white;
    height: auto;
    padding: 1% 0 1% 1%;
    border-radius: 20px;
   margin-bottom: 30px;
   display: flex;
    justify-content: center;
    align-items: center;
}

.blocImpopulaires :hover{
    transform: scale(1.02);
    cursor: pointer;
}

.carrés2populaires{
    width: 60%;
    padding-left: 5%;
}
.imgpopulaires{
    width: 40%;
    height: 160px;
    object-fit: cover;
    border-radius: 15px 0 0 15px ;
}

/*Activités*/

#Activités{
    display: grid;
    column-gap: 2rem;
    margin: 4rem 0;
}













.ActivitésMarseille{
    margin-top: 50px;
    margin-bottom: 50px;
    height:100%;
    width: 100%;
    display : flex;
    flex-direction: column;
 }

.BlocsImgActivités{
    display: flex;
    flex-direction: row;
    width: 100%
}

.blocdegauche{
    display: flex;
    flex-direction: row;
    width: 50%
}

.blocdedroite{
    display: flex;
    flex-direction: row;
    width:50%;
   
}

.blocpetitImg{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

#Activités h4{ 
        font-size: x-large
}

#Activités h5{
    margin-left: 3%;
    font-weight: bold;
    font-size: large;
}

/*carreImgactivites*/
.carreImgactivites{
    box-shadow: 0 0 16px #0000002e;
    border-radius: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    transition-duration: 0.2s;
    margin-left: 1%;
    margin-right: 1%;
    width: 480px;
    
}
.carreImgactivites2{
    box-shadow: 0 0 16px #0000002e;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 13rem;
  width: 19rem;
  flex-basis: 60%;
  margin-bottom:4rem;
  transition-duration: 0.2s;
  width : 100%

}
.carreImgactivites3{
    box-shadow: 0 0 16px #0000002e;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  max-height: 15rem;
  width: 30rem;
  transition-duration: 0.2s;
  width: 100%
}

.carreImgactivites4{
    box-shadow: 0 0 16px #0000002e;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;  
  width: 100%;
  flex-basis: 60%;
  flex-grow: 1;
  margin-bottom: 16%;
  transition-duration: 0.2s;
}

.carreImgactivites :hover{
    transform: scale(1.02);
    cursor: pointer;
}

.carreImgactivites2 :hover{
    transform: scale(1.02);
    cursor: pointer;
}

.carreImgactivites3 :hover{
    transform: scale(1.02);
    cursor: pointer;
}

.carreImgactivites4 :hover{
    transform: scale(1.02);
    cursor: pointer;
}

/*dimensions images activités*/

.grandeimage{
    border-radius: 1rem 1rem 0 0;
    height: 30rem;
    object-fit: cover;
    width: 100%;
    height:84%;
}

.moyimage{
    border-radius: 1rem 1rem 0 0;
  height: 9rem;
  object-fit: cover;
  width: 100%;
}

.moyimage2{
    border-radius: 1rem 1rem 0 0;
  height: 11rem;
  object-fit: cover;
  width: 100%;
}

.petiteimage{
    border-radius: 1rem 1rem 0 0;
  height: 11rem;
  object-fit: cover;
  width: 100%;
}
    

/*footer*/
footer{
    display: flex;
    width: 100%;
    margin: 0;
    background-color: #f2f2f2;   
    align-items:flex-start;
    font-size: 20px;
    padding: 20px 0 100px;
     justify-content:left; 
    margin-top:30px;
}
.bloc{
    width: 15%;
    margin: 0 25px;
}

.blocfooter{
    margin-right: 13%;
    margin-left: 3%;
}

.blocfooter h4
{
    font-size:25px;
    padding-bottom: 20px;

}

.listefooter{
    list-style-type:none;
}

.nolist {
    list-style-type:none;
    padding:5px 0;
}

.colorlien{
    color:black;
}


/***************mobile responsive *************/


@media (max-width: 653px){

    .sub-nav{
        order:2;
    }

    .hosting2{
        order: 1;
       
    }

    .fas.fa-search{
        background-color: inherit;
        display: inline;
    }   

    .search-text{
        display: none;
    }

   .sub-nav a{
        flex-basis: 50%;
        text-align:center;
    }
        
    .sub-nav a:hover{
        border-top-color:transparent;
        border-bottom:4px solid #0065fc
    }
    .search-button .search-text{
        display: none;
    }
}
    @media screen and (max-width:1300px){
        
        footer{
            flex-direction: column;
        }
        
        
    }
