/*général*/

.html,body{
    font-family: raleway;
    
}
body{
    height:100%;
    width:100%;
    margin:0;
    display:flex;
    flex-direction: column;
}

header,nav{
    margin-right: 2%;
    margin-left:2%;
}

main{
    margin-right: 2%;
    margin-left: 2%;
}
.flexaround{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexbetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexcentre{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*générales 2*/

.flexcolumnaround{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.flexcolumnbetween{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.flexcolumncentre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*nav*/
.img1{
    width: 20%;
       
}
.margedulogo{
    margin-bottom: 7px;
}

.bordurenav{
    border-top: 1px solid; color: blue;
}

.bordurenav23{
    border-top: 1px solid transparent;
}
.sizeliens{
    width: 45%;
}

.sizelien2{
    width: 140px;
    height: 99px;
}
.colorliens13{
    color: #0065fc;
 
}
.colorliens2{
    color: black;
}
.nav li, a{
    text-decoration: none;
    cursor: pointer;
}

.a :hover{
    opacity: 1;
}

/*header*/
.texteengras{
    font-weight: bold;
}

.borduresearch{
    width: 400px;
    border-radius: 10px;
}
.iconsize{
    height:50px;
    width: 50px;
    background-color: grey;
    border-radius: 10px 0 0 10px ;
}
.search{
    height:50px;
    width:230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
    border: 0.5px solid #f2f2f2;
    padding-left: 20px;
}
.buttonsearch{
    background-color: blue;
    height: 50px;
    width: 120px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0 10px 10px 0;
}

/*filtres*/
.filtres{
    display: flex;
    flex-direction: row;
}
.filtrecontainer{
    display: flex;
    margin-top: 3rem;
}
.margedesfiltres{
    margin-top: 50px;
    margin-bottom: 40px;
}

.margefiltrestitre{
    margin-right: 20px;
}

.filter:hover {
    transform: scale(1.02);
    cursor: pointer;
  }

  .filtername:hover {
    background-color: #0065fc;
    color: white;
  }
  
  .filter {
    margin-bottom: 1rem;
    margin-right: 1rem;
    display: flex;
    text-align: center;
    align-items: center;
    transition-duration: 0.2s;
  }
  
  .filtericons {
    background-color: #deebff;
    border-radius: 100%;
    height: 3.2rem;
    width: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065fc;
    position: absolute;
  }

  .eco {
    padding: 1rem 1rem 1rem 4rem;
    border-top: #eeeeee solid 3px;
    border-bottom: #eeeeee solid 3px;
    border-left: none;
    border-right: #eeeeee solid 3px;
    border-radius: 2rem 2rem 2rem 2rem;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    font-weight: bold;
    text-align: right;
  }
  
  .fam {
    padding: 1rem 1rem 1rem 4rem;
    border-top: #eeeeee solid 3px;
    border-bottom: #eeeeee solid 3px;
    border-left: none;
    border-right: #eeeeee solid 3px;
    border-radius: 2rem 2rem 2rem 2rem;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    font-weight: bold;
    text-align: right;
  }
  
  .rom {
    padding: 1rem 1rem 1rem 4rem;
    border-top: #eeeeee solid 3px;
    border-bottom: #eeeeee solid 3px;
    border-left: none;
    border-right: #eeeeee solid 3px;
    border-radius: 2rem 2rem 2rem 2rem;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    font-weight: bold;
    text-align: right;
  }
  
  .ani {
    padding: 1rem 1rem 1rem 4rem;
    border-top: #eeeeee solid 3px;
    border-bottom: #eeeeee solid 3px;
    border-left: none;
    border-right: #eeeeee solid 3px;
    border-radius: 2rem 2rem 2rem 2rem;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    font-weight: bold;
    text-align: right;
    width: max-content;
  }
  
/*icône info*/
.info {
    display: flex;
    align-items: center;
}

.infoicon{
    border:2px solid #f2f2f2;
    width: 20px;
    height: 20px;
    border-radius: 25px;
    margin-right: 0.5%;
    color:#0065fc;   
}

/*section hébergements*/

.taillehébergements{
    flex: 2;
    margin-right: 20px; 
    height: 750px;
    border-radius: 10px; 
    background-color:rgb(226, 224, 224);
    padding-bottom: 20px;
    
}

.taillepopulaires{
    flex:1;
    height: 770px;
    margin-left: 20px;
    background-color: rgb(226, 224, 224);
    border-radius: 10px;
}

.blochébergements{
    padding-right: 20px;
    padding-left: 20px;
}

.bloc1{
    margin-bottom: 10px;
}

.bloc2{
    margin-top: 10px;
}

.carréshébergements{
    width: 30%;
    height: auto;
    background-color: white;
    padding: 1%;
    border-radius: 20px;
}

.carrés2hébergements{
    width: 90%;
    
}

.imghébergements1{
    background-image: url("images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    width: 100%;
    height: 120px;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;

}
.imghébergements2{
    background-image: url("images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    width: 100%;
    height: 120px;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;

}.imghébergements3{
    background-image: url("images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    width: 100%;
    height: 120px;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;

}.imghébergements4{
    background-image: url("images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    width: 100%;
    height: 120px;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;

}.imghébergements5{
    background-image: url("images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    width: 100%;
    height: 120px;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;

}
.imghébergements6{
    background-image: url("images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    width: 100%;
    height: 120px;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;

}

.textehébergements{
    font-weight: bold;
}
/*icônes étoiles*/
.star{
    color: #0065fc;
    
}

.color{
    color: #f2f2f2;
}
/*populaires*/
.textepopulaires{
    font-weight: bold;
}

.blocpopulaires{
    padding-right: 20px;
    padding-left: 20px;
}

.blocpopulaires12{
    margin-bottom: 20px;
}

.carréspopulaires{
    background-color: white;
    height: auto;
    padding: 1% 0 1% 1%;
    border-radius: 20px;
   margin-bottom: 30px;
}
.carrés2populaires{
    width: 60%;
    padding-left: 5%;
}
.imgpopulaires1{
    background-image: url("images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    width: 35%;
    height: 160px;
    background-size: cover;
    background-position: center;
    border-radius: 15px 0 0 15px ;
}

.imgpopulaires2{
    background-image: url("images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
    width: 35%;
    height: 160px;
    background-size: cover;
    background-position: center;
    border-radius: 15px 0 0 15px ;
}

.imgpopulaires3{
    background-image: url("images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    width: 35%;
    height: 160px;
    background-size: cover;
    background-position: center;
    border-radius: 15px 0 0 15px ;
}

/*Activités à Marseille*/

/*BlocImgActivtés*/

.ActivitésMarseille{
    margin-top: 50px;
    margin-bottom: 50px;
    height:100%;
    width: 100%;
    display : flex;
    flex-direction: column;
 }
 .BlocsImgActivités{
    display: flex;
    flex-direction: row;
    width: 100%
}

.blocdegauche{
    display: flex;
    flex-direction: row;
    width: 50%
}

.blocdedroite{
    display: flex;
    flex-direction: row;
    width:50%;
   
}

.blocpetitImg{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin:20px;
}

/*fondblancs*/
.fondblanc{
    box-shadow: 0 0 16px #0000002e;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  max-width: 24rem;
  transition-duration: 0.2s;
  margin: 1%;
  width: 480px;
    
}
.fondblanc2{
    box-shadow: 0 0 16px #0000002e;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 13rem;
  width: 19rem;
  flex-basis: 60%;
  flex-grow: 1;
  margin-bottom:4rem;
  transition-duration: 0.2s;
  width : 100%

}

.fondblanc3{
    box-shadow: 0 0 16px #0000002e;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  max-height: 15rem;
  width: 30rem;
  transition-duration: 0.2s;
  width: 100%
}

.fondblanc4{
    box-shadow: 0 0 16px #0000002e;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 10rem;
  width: 28rem;
  flex-basis: 60%;
  flex-grow: 1;
  margin-top:2rem;
  transition-duration: 0.2s;
}

/*dimensions images activités*/

.grandeimage{
    border-radius: 1rem 1rem 0 0;
    height: 30rem;
    object-fit: cover;
    width: 100%;
}

.moyimage{
    border-radius: 1rem 1rem 0 0;
  height: 9rem;
  object-fit: cover;
  width: 100%;
}

.moyimage2{
    border-radius: 1rem 1rem 0 0;
  height: 11rem;
  object-fit: cover;
  width: 100%;
}

.petiteimage{
    border-radius: 1rem 1rem 0 0;
  height: 7.5rem;
  object-fit: cover;
  width: 100%;
}

/*footer*/
footer{
    display: flex;
    width: 100%;
    margin: 0;
    
    background-color: #f2f2f2;   
   
    justify-content: center;
    align-items:flex-start;
    font-size: 20px;
    padding: 20px 0 100px;
    justify-content:space-between;
}


.bloc{
    width: 15%;
    margin: 0 25px;
}

.blocapropos h4
.blocnosherbegements h4
.blocassistance h4{
    font-size:25px;
    padding-bottom: 20px;
}

.listeapropos 
.listenoshebergements 
.listeassistance{
    list-style-type:none;
}

.nolist {
    list-style-type:none;
    padding:5px 0;
}

.colorlien{
    color:black;
}
